<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 d-flex">
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-whatsapp"></i></a>
                <a href=""><i class="bi bi-skype"></i></a>
            </div>
            <p class="text-center">Copyright@2023 all Rights reserved</p>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>