<div class="col-md-2">
    <div class="list-group list-group-flush my-3">
        <a href="/admin/dashboard" class="list-group-item list-group-item-action  second text-active">
            <i class="bi bi-speedometer"></i> Dashboard
        </a>
        <a href="/admin/users" class="list-group-item list-group-item-action  second fw-bold">
            <i class="bi bi-people-fill"></i> User Management
        </a>
        <a href="/logout" class="list-group-item list-group-item-action  second fw-bold">
            <i class="bi bi-escape"></i> Log Out
        </a>
    </div>
</div>


